IMMICH_VERSION=release

MACHINE_LEARNING_REQUEST_THREADS=2
MACHINE_LEARNING_RKNN_THREADS=2
MACHINE_LEARNING_MAX_BATCH_SIZE__TEXT_RECOGNITION=2

MACHINE_LEARNING_PRELOAD__CLIP__TEXTUAL=nllb-clip-large-siglip__v1
MACHINE_LEARNING_PRELOAD__CLIP__VISUAL=nllb-clip-large-siglip__v1

MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__DETECTION=buffalo_l
MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__RECOGNITION=buffalo_l

MACHINE_LEARNING_PRELOAD__OCR__DETECTION=PP-OCRv5_mobile
MACHINE_LEARNING_PRELOAD__OCR__RECOGNITION=PP-OCRv5_mobile
